/* Get a fancy font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: white;
  color: black; /* text color */
  font-size: 15px;
}

h1 {
    font-family: 'Righteous';
}

/* Change header text to imported font */
h2 {
  font-family: 'Roboto';
}

p {
  font-family: 'Roboto';
}

.li {
    color: black;
}
/* Make text visible on inputs */
.shiny-input-container {
  color: black;
  font-size: 15px;
}

.tabbable {
    font-size: 15px;
}

.navbar{ 
  background-color: white;
  min-height:25px !important;
  font-family: 'Righteous';
  color: black;
  font-size: 17px;
}

blockquote {
    background-color: #fadfac;
    color: black;
    font-size: 15px;
    border-left: 10px solid #ffa600;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote strong {
    font-family: 'Righteous';
    font-size: 17px;

}
